@keyframes color-change {
    0% {
            color: blue;
            border-radius: 50px;
          }

          50% {
            color: darkorange;
            border-radius: 0px;
          }

          100% {
            color: blue;
            border-radius: 50px;
          }
        }

        h1 {
          animation: color-change 3s infinite;
        }

body {
    background-color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p, h2 {
    color: blue;
    text-align: center;
    transition: all 1s;
}

h2:hover { 
    color: darkorange;
    font-size: 30px;
    transition: all 1s;
} 

h2 {
  font-family: "Counter-Strike";
}

h3 {
  color: blue;
  border: yellow;
  padding-left: 350px;
  font-family: "Counter-Strike";
}

ul {
    color: blue;
    padding-left: 80%;
    font-family: "Counter-Strike";
}

ol {
  color: darkorange;
  padding-left: 15%;
  font-family: "Counter-Strike";
}

h1 {
    border: 5px solid #5988FF;
    border-radius: 50px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: fit-content;
    align-self: center;
    background-color: #5988FF;
    font-family: "Counter-Strike";
}

div{
    width: auto;
    display: flex;
    justify-content: center;
}



h5 {
  color: darkorange;
  font-family: "Counter-Strike";
}

img {
  padding-left: 20px;
}

a {
  color: darkorange;
  font-family: "Counter-Strike";
}

h4 {
  color: darkorange;
  font-family: "Counter-Strike";
}