<!DOCTYPE html>
<html>
    <head>
        <title>CS2 lineups</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <div1 style="display: flex; gap: 0px;">
            <h4>Creator:</h4>
            <h4><a href="http://www.youtube.com/@Azeru007">Azeru007</a></h4>
            <img src="static/img/CSGO.png" alt="CS2">
        </div1>
        <div>
            <h1>CS2 lineups💣</h1>
        </div>
        <p>Witaj na stronie z wszelkimi lineup'ami w CS2!💣</p>
        <h2>Poniżej znajdziesz najważniejsze lineupy w CS2</h2>
        <div1 style="display: flex; gap: 120px;">
            <h3><a href="/smokes">Smokes</a></h3>
            <h3><a href="/molotovs">Molotovs</a></h3>
            <h3><a href="/flashes">Flashes</a></h3>
        </div1>
        <div1 style="display: flex; gap: 150px;">
            <img src="static/img/Nic3.png" alt="Nic">
            <a href="/smokes"><img src="static/img/Smoke2.png" alt="Smoke"></a>
            <a href="/molotovs"><img src="static/img/Molotov6.png" alt="Smoke"></a>
            <a href="/flashes"><img src="static/img/flashbang.png" alt="Flash"></a>
        </div1>
    </body>
</html>