<!DOCTYPE html>
<html>
    <head>
        <title>CS2 smokes</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="icon" href="static/img/CS logo.webp" type="image/x-icon">
    </head>
    <body>
        <div1 style="display: flex; gap: 0px;">
            <h4>Creator:</h4>
            <h4><a href="http://www.youtube.com/@Azeru007">Azeru007</a></h4>
            <img src="static/img/CSGO.png" alt="CS2">
        </div1>
        <div>
            <h1>CS2 molotovs🔥</h1> 
        </div>
        <p>Witaj na stronie z wszelkimi lineup'ami w CS2!💣</p>
        <h2>Poniżej znajdziesz najważniejsze mołotowy w CS2</h2>
        <h3><a href="/mirage molotovs">Mirage molotovs</a></h3>
        <h2><a href="/">Powrót</a></h2>
    </body>
</html>