<!DOCTYPE html>
<html>
    <head>
        <title>CS2 smokes</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <div1 style="display: flex; gap: 0px;">
            <h4>Creator:</h4>
            <h4><a href="http://www.youtube.com/@Azeru007">Azeru007</a></h4>
            <img src="static/img/CSGO.png" alt="CS2">
        </div1>
        <div>
            <h1>CS2 smokes💣</h1>
        </div>
        <p>Witaj na stronie z wszelkimi smoke'ami w CS2!💣</p>
        <h2>Poniżej znajdziesz najważniejsze smoke'i w CS2</h2>
        <h3><a href="/mirage smokes">Mirage smokes</a></h3>
        <div1 style="display: flex; gap: 150px;">
            <img src="static/img/Nic5.png" alt="Flash">
            <a href="/mirage smokes"><img src="static/img/mirage2.png" alt="Flash"></a>
        </div1>
        <ul>
            <li>Pierwszy element listy</li>
            <li>Drugi element listy</li>
            <li>Trzeci element listy</li>
            <li>Czwarty element listy</l    i>
            <li>Piąty element listy</li>
        </ul>
        <ol>
            <li>Pierwszy element listy</li>
            <li>Drugi element listy</li>
            <li>Trzeci element listy</li>
            <li>Czwarty element listy</li>
            <li>Piąty element listy</li>
        </ol>
        <h2><a href="/">Powrót</a></h2>
        <img src="static/img/crosshair165.png" alt="Obrazek celownika">
        <iframe src="https://www.meteoblue.com/pl/pogoda/widget/daily/buggenhout_belgia_2800816?geoloc=fixed&days=7&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&precipunit=MILLIMETER&coloured=coloured&pictoicon=1&maxtemperature=1&mintemperature=1&windspeed=1&windgust=0&winddirection=1&uv=0&humidity=0&precipitation=1&precipitationprobability=1&spot=1&pressure=0&layout=light"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 378px; height: 420px"></iframe><div><!-- DO NOT REMOVE THIS LINK --><a href="https://www.meteoblue.com/pl/pogoda/tydzie%C5%84/buggenhout_belgia_2800816" target="_blank" rel="noopener">meteoblue</a></div>
    </body>
</html>