<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>CS2 smokes - Mirage</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <div1 style="display: flex; gap: 0px;">
            <h4>Creator:</h4>
            <h4><a href="http://www.youtube.com/@Azeru007">Azeru007</a></h4>
            <img src="static/img/CSGO.png" alt="CS2">
        </div1>
        <h2>Mirage Smokes</h2>
        <div1 style="display: flex; gap: 400px;">
            <h3><a href="/mirage smokes ct">Counter-Terrorists</a></h3>
            <h3><a href="/mirage smokes tt">Terrorists</a></h3>
        </div1>
        <div1 style="display: flex; gap: 400px;">
            <img src="static/img/Nic5.png" alt="CT">
            <a href="/mirage smokes ct"><img src="static/img/CT.png" alt="TT"></a>
            <a href="/mirage smokes tt"><img src="static/img/TT.png" alt="TT"></a>
        </div1>
        <h2><a href="/smokes">Powrót</a></h2>
    </body>
</html>