<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>Mirage smokes</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="icon" href="static/img/CS logo.webp" type="image/x-icon">
    </head>
    <body>
        <div1 style="display: flex; gap: 0px;">
            <h4>Creator:</h4>
            <h4><a href="http://www.youtube.com/@Azeru007">Azeru007</a></h4>
            <img src="static/img/CSGO.png" alt="CS2">
        </div1>
        <h2>Mirage Molotovs</h2>
        <h2><a href="/molotovs">Powrót</a></h2>
    </body>
</html>