<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>CS2 smokes - Mirage</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <div1 style="display: flex; gap: 0px;">
            <h4>Creator:</h4>
            <h4><a href="http://www.youtube.com/@Azeru007">Azeru007</a></h4>
            <img src="static/img/CSGO.png" alt="CS2">
        </div1>
        <h2>Mirage Smokes</h2>
        <h3>Counter-Terrorists</h3>
        <div1 style="display: flex; gap: 300px;">
        <ol>
            <h4>A</h4>
            <li><h5><a href="/mirage smokes ct ramp">Ramp</a></h5></li>
            <li><h5><a href="/mirage smokes ct palace">Palace</a></h5></li>
        </ol>
        <ol>
            <h4>Mid</h4>
            <li><h5><a href="/mirage smokes ct right boxes">Right boxes</a></h5></li>
            <li><h5><a href="/mirage smokes ct entry">Entry</a></h5></li>
            <li><h5><a href="/mirage smokes ct mid short">Short</a></h5></li>
            <li><h5><a href="/mirage smokes ct under">Under</a></h5></li>
        </ol>
        <ol>
            <li><h4>B</h4></li>
            <li><h5><a href="/mirage smokes ct b short">Short</a></h5></li>
            <li><h5><a href="/mirage smokes ct appartments">Appartments</a></h5></li>
            <li><h5><a href="/mirage smokes ct bench">Bench</a></h5></li>
        </ol>
        </div1>
        <h2><a href="/mirage smokes">Powrót</a></h2>
    </body>
</html>