<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>CS2 smokes - Mirage</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <div1 style="display: flex; gap: 0px;">
            <h4>Creator:</h4>
            <h4><a href="http://www.youtube.com/@Azeru007">Azeru007</a></h4>
            <img src="static/img/CSGO.png" alt="CS2">
        </div1>
        <h2>Mirage Smokes</h2>
        <h2>Terrorists</h2>
        <div1 style="display: flex; gap: 300px;">
            <ol>
            <li><h4>A</h4></li>
            <li><h5><a href="/mirage smokes tt ct">CT</a></h5></li>
            <li><h5><a href="/mirage smokes tt ct">Jungle</a></h5></li>
            <li><h5><a href="/mirage smokes tt ct">Stairs</a></h5></li>
        </ol>
        <ol>
            <li><h4>Mid</h4></li>
            <li><h5><a href="/mirage smokes tt ct">Window</a></h5></li>
            <li><h5><a href="/mirage smokes tt ct">Connector</a></h5></li>
            <li><h5><a href="/mirage smokes tt ct">Short</a></h5></li>
            <li><h5><a href="/mirage smokes tt ct">Under</a></h5></li>
            <li><h5><a href="/mirage smokes tt ct">Entry</a></h5></li>
        </ol>
        <ol>
            <li><h4>B</h4></li>
            <li><h5><a href="/mirage smokes tt ct">Short</a></h5></li>
            <li><h5><a href="/mirage smokes tt ct">Truck</a></h5></li>
            <li><h5><a href="/mirage smokes tt ct">Window</a></h5></li>
            <li><h5><a href="/mirage smokes tt ct">Kitchen</a></h5></li>
        </ol>
        </div1>
        <h2><a href="/mirage smokes">Powrót</a></h2>
    </body>
</html>