<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>CS2 smokes - Mirage</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <div1 style="display: flex; gap: 0px;">
            <h4>Creator:</h4>
            <h4><a href="http://www.youtube.com/@Azeru007">Azeru007</a></h4>
            <img src="static/img/CSGO.png" alt="CS2">
        </div1>
        <h2>Mirage Smokes</h2>
        <h3>Counter-Terrorists</h3>
        <ol>
            <h4>Bench</h4>
        </ol>
        <div1 style="display: flex; gap: 0px;">
            <img src="static/img/smokes/Mirage/CT/Ramp place.png" alt="TT">
            <img src="static/img/smokes/Mirage/CT/Ramp.png" alt="Ramp">
        </div1>
        <ol>
            <h4>Result</h4>
        </ol>
        <img src="static/img/smokes/Mirage/CT/Ramp result.png" alt="Ramp result">
        <h2><a href="/mirage smokes ct">Powrót</a></h2>
    </body>
</html>